{% extends "administration/page.html" %}

{% block page %}

<div class="info">
    <div style="margin-bottom: 20px;">
        <div style="float: left; width: 480px;">
            <h3>Changing the Title</h3>
            <p>
                Umbrella CMS provides you with the possibility to assign an own title to the localised translations of your pages.
            </p>
            <p>
                To change the title of a page, just edit it like shown on the picture.
            </p>
        </div>
        <img style="float: right; border: 1px solid rgba(0, 0, 0, .3); -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);" src="/static/admin/images/screenshot_title.png" />
        <div style="clear: both;"></div>
    </div>
    
    <div>
        <div style="float: left; width: 480px;">
            <h3>Editing localised Content</h3>
            <p>
                Umbrella CMS allows you to serve your page in multiple languages. To edit these pages and translations, please select the »edit« tab above…
            </p>
        
            <p>
                You may choose the language to edit like shown in the image on the right.
            </p>
        </div>
        <img style="float: right; border: 1px solid rgba(0, 0, 0, .3); -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);" src="/static/admin/images/screenshot_edit.png" />
        <div style="clear: both;"></div>
    </div>
</div>

{% endblock %}
